pandas==3.0.1
numpy
yfinance
plotly
pyarrow
statsmodels
scipy
requests
matplotlib
seaborn
adjustText
alpha-vantage
nsepy
nsepython
stocktrends
selenium
python-dateutil
trendln
TA-Lib
mpl-finance
beautifulsoup4
lxml
